html
{
	background:#ddd;
	font-size:14px;
}
h1
{
	font-size:1.3em;
	margin-left:-0.2em;
	margin-bottom:0.2em;
}
h2
{
	font-size:1.1em;
	margin-bottom:0.2em;
}

#Outer
{
	margin:0 auto;
	width:600px;
}

#Wizard
{
	background: #eee;
	border: 1px solid #bbb;
	padding:0.3em;
}

.Chapter
{
	padding:0.3em;
	border-left:2px solid transparent;	
}
.Chapter.Footer {text-align:right; background:#d9d9ff; margin-top:1em;}
.Chapter:hover {border-left:2px dashed #bbb;}
.SubChapter
{
	margin:0 0 1.0em 0;
}
input[type="text"] {width:25em;}

.Checkers
{
	border-radius:5px;
	border:1px solid #888;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:1.0em;
	font-weight:normal;
	padding:4px 4px;
	margin-right:0.2em;
	margin-bottom:0.2em;
/*	text-shadow: 1px 1px 1px #555;*/
	-webkit-user-select:none;
}
.Checkers.Off {background-color:#a4c1c1; color:#000;}
.Checkers.Off.Required {background-color:#ff6666;}
.Checkers.On {background-color:#66ffb3; color:#555;}

#Protokoll_Timabokanir {}
.Timabokanir
{
	font-size:1.0em;
}
.Timabokanir span
{
	display:-webkit-inline-box;
	width:2em;
	height:2em;
	background:#fff;
	border:1px solid #999;
	padding:2px;
	transition:background 200ms;
	transition-timing-function: ease;
	cursor:pointer;
	-webkit-user-select:none;
}
.Timabokanir span:first-child {border:0; width:5em; padding:1px;}
.Timabokanir span:not(:first-child):hover {background:#a4c1c1;}
.Timabokanir span.Checked {background:#66ffb3; color:#555;}


#Skilabod
{
	width:30em;
	height:4em;
}


#Output
{
	display:none;
	margin-top:2em;
	padding:1em;
	border:1px solid #ddd;
	background-color:yellow;
}























/*
table
{
	border:0;
	font-size:1.25em;
	border-collapse:collapse;
	border-spacing:4px 0px;
	margin-top:0.3em;
}
table td
{
	border:1px solid #aaa;
	padding:0;
	width:1.5em;
	height:1.5em;
	text-align:-webkit-center;
	word-wrap:normal
}
table td:first-child
{
	border:0;
	text-align:right;
	font-size:0.75em;
}
table .Checked {background-color:#000;}

#Timabokanir2 td:first-child
{
	width:5em;
}
*/